/* Reset all the default styles to zero */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Main Styling */

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
}

/* Utility Classes */

.logo {
    height: 24px;
}

.home-section {
    font-size: 24px;
}

.home-heading {
    padding-top: 144px;
}

.home-h1 {
    font-size: 64px;
}

.home-text {
    padding: 64px 0 36px 0;
}

.contact-link {
    padding-right: 16px;
}

.home-contact {
    padding-bottom: 24px;
}

.about-section {
    font-size: 24px;
    padding-top: 96px;
    width: 100%;
}

.about-profile {
    width: 240px;
    height: 240px;
}

.about-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.about-text {
    margin: 48px 0;
    max-width: 700px;
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    padding: 36px;
    border-radius: 8px;
}

.about-education {
    padding-bottom: 48px;
}

.education-details {
    padding-top: 32px;
}

.education-detail {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.courses {
    padding: 24px 0;
}

.course {
    padding: 36px;
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin: 12px 0;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    background-color: #eee;
    margin-right: 12px;
}

.project-section {
    font-size: 24px;
    padding-top: 96px;
}

.project-heading {
    font-size: 48px;
    padding-bottom: 16px;
}

.projects {
    padding: 24px 0;
}

.project {
    padding: 36px 0;
    border-bottom: 1px solid #eaeaea;
}

.thumbnail {
    width: 100%;
    border-radius: 16px;
}

.project-details {
    padding: 12px 48px;
}

/* Bootstrap Classes Utility Overriding */

.navbar {
    border-bottom: 1px solid #eaeaea;
}

.active {
    font-weight: bold;
    background-color: #f6f6f6;
}

.nav-link {
    padding: 8px 24px !important;
}

.navbar-toggler {
    border: none;
}

.nav-link:hover,
.navbar-toggler:hover {
    background-color: #f6f6f6;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}