/* Reset all the default styles to zero */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Main Styling */

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
}

/* Utility Classes */

.logo {
    height: 24px;
}

.home-section {
    margin: 0 auto;
    font-size: 24px;
}

.home-heading {
    padding-top: 144px;
}

.home-h1 {
    font-size: 64px;
}

.home-text {
    padding: 64px 0 36px 0;
}

.contact-link {
    padding-right: 16px;
}

.home-contact {
    padding-bottom: 24px;
}

/* Bootstrap Classes Utility Overriding */

.navbar {
    border-bottom: 1px solid #eaeaea;
}

.active {
    font-weight: bold;
    background-color: #f6f6f6;
}

.nav-link {
    padding: 8px 24px !important;
}

.navbar-toggler {
    border: none;
}

.nav-link:hover,
.navbar-toggler:hover {
    background-color: #f6f6f6;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}